<!-- <div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div> -->
<div class="container mt-3">
  <div class="row">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a
        class="flex-sm-fill text-sm-center nav-link"
        (click)="checkActive($event)"
        [routerLink]="['/home']"
        [ngClass]="checkLink == 1 ? 'active' : 'none'"
        href="#"
        >Home</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        (click)="checkActive($event)"
        [routerLink]="['/about']"
        [ngClass]="checkLink == 2 ? 'active' : 'none'"
        href="#"
        >Blog detail</a
      >
      <a
        class="flex-sm-fill text-sm-center nav-link"
        (click)="checkActive($event)"
        [routerLink]="['/contact']"
        [ngClass]="checkLink == 3 ? 'active' : 'none'"
        href="#"
        >Contact</a
      >
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
