<div class="container pt-4 bg-light">
  <div [ngSwitch]="ngaythu">
    <div>
      <input name="setvalue" type="number" #Songay min="0" max="6" value="0" />
    </div>
    <div>
      <button class="mt-4 btn btn-primary" (click)="getvalue(Songay.value)">
        Hiển thị ngày
      </button>
    </div>
    <h3>{{ displayvalu }}</h3>
    <div *ngFor="let list of listDate" [ngSwitch]="list">
      <div *ngSwitchCase="'0'">Thu 2</div>
      <div *ngSwitchCase="'1'">Thu 3</div>
      <div *ngSwitchCase="'2'">Thu 4</div>
      <div *ngSwitchCase="'3'">Thu 5</div>
      <div *ngSwitchCase="'4'">Thu 6</div>
      <div *ngSwitchCase="'5'">Thu 7</div>
      <div *ngSwitchCase="'6'">Chu Nhat</div>
      <div *ngSwitchDefault>Khong co</div>
    </div>
  </div>
</div>
