<div class="container bg-light mt-5">
  <h3 class="text-center">Category</h3>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Thể Loại</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row" [routerLink]="['/detail', product.id]">
          {{ product.id }}
        </th>

        <td [routerLink]="['/products/detail', product.id]">
          {{ product.category }}
        </td>
      </tr>
    </tbody>
  </table>
  <button [routerLink]="['new']" class="btn btn-success">
    Thêm sản phẩm mới
  </button>
</div>
<router-outlet></router-outlet>
